<!DOCTYPE html>
<html>
<head>
	<title>Mercado Liebre</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="/public/css/estilo.css">
</head>
<body>
	<header>
		<div class="busqueda">
			<img class= "logo" src="/views/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
			<div class="form" action="#" method="GET">
				<div class="input">Buscar productos, marcas</div>
				<div class="submit"><i class="fa fa-search"></i></div>
				
			</div>
			<p> <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
			
		</div>
        
			<nav>
				<ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
				</ul>
				<ul>
					<li><a href="/views/register.html">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
					<li><a href="/views/login.html">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
					<li><a href="#">Mis compras  <i class="fas fa-shopping-basket"></i></a></li>
				</ul>
			</nav>
        
		<div class="burger-menu">
			<i class="fas fa-bars"></i>
		</div>
    </header>
	<section class="banner">
        <img src="/public/images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>
    <main>
        <section class="ultimaV">
            <h3>Basado en tu última visita</h3>
			<div class="productos">
				<article>
					<img src="images/img-cafetera-moulinex.jpg" alt="Imagen cafetera moulinex">
					<div class="main-article">
						<i class="fas fa-truck"></i>
						<p class="precio">$6.770</p>
						<p class="descuentos">40% OFF</p> 
						<p class="descripcion">Cafetera Moulinex</p>
					</div>
					
				</article>
				<article>
					<img src="images/img-macbook-pro-2019.jpg" alt="Imagen MacBook Pro 2019">
					<div class="main-article">
						<i class="fas fa-truck"></i>
						<p class="precio">$230.000</p>
						<p class="descuentos">20% off</p>
						<p class="descripcion">MacBook Pro 2019</p>
					</div>
					
				</article>
				<article>
					<img src="images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy S10">
					<div class="main-article">
						<i class="fas fa-truck"></i>
						<p class="precio">$70.500</p>
						<p class="descuentos">10% off</p>
						<p class="descripcion">Samsung Galaxy S10</p>
					</div>
				</article>
	
				<article>
					<img src="images/img-tv-samsung-smart.jpg" alt="Imagen Tv Samsung Smart">
					<div class="main-article">
						<i class="fas fa-truck"></i>
						<p class="precio">$23.200</p>
						<p class="descuentos">5% off</p>
						<p class="descripcion">SmartTv Samsung 43"</p>
					</div>
				</article>
			</div>
            
        </section>
        <section class="ofertas">
            <h3>Sección de Ofertas</h3>
			<div class="productos">
				<article>
					<img src="images/img-cafetera-moulinex.jpg" alt="Imagen cafetera moulinex">
					<div class="main-article">
						<i class="fas fa-truck"></i>
						<p class="precio">$6.770</p>
						<p class="descuentos">40% OFF</p>
						<p class="decripcion">Cafetera Moulinex</p>
					</div>
				</article>
				<article>
					<img src="images/img-macbook-pro-2019.jpg" alt="Imagen MacBook Pro 2019">
					<div class="main-article">
						<i class="fas fa-truck"></i>
						<p class="precio">$230.000</p>
						<p class="descuentos">20% off</p>
						<p class="descripcion">MacBook Pro 2019</p>
					</div>
					
				</article>
				<article>
					<img src="images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy S10">
					<div class="main-article">
						<i class="fas fa-truck"></i>
						<p class="precio">$70.500</p>
						<p class="descuentos">10% off</p>
						<p class="descripcion">Samsung Galaxy S10</p>
					</div>
					
				</article>
				<article>
					<img src="images/img-tv-samsung-smart.jpg" alt="Imagen Tv Samsung Smart">
					<div class="main-article">
						<i class="fas fa-truck"></i>
						<p class="precio">$23.200</p>
						<p class="descuentos">5% off</p>
						<p class="descripcion">SmartTv Samsung 43"</p>
					</div>
				</article>
			</div>
        </section>
    </main>
	<footer>
		<section>
			<article>
			<i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
		</article>
        <article>
			<i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
		</article>
        <article>
			<i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
		</article>
        <article>
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
		</article>
		</section>
    </footer>
</body>
</html>